
<div style="padding: 15px;padding-left: 25px;padding-right: 25px;">
    <div>
        <div class="section-menu-name">
            <p>Cereal</p>
        </div>
        <div class="option-row">
            <div id="cover-option-1" class="cover-option option-menu">
                @Html.RadioButton("cover-option", 1, new { id = "cover-option-1rb" })
            </div>
            <div id="cover-option-2" class="cover-option option-menu">
                @Html.RadioButton("cover-option", 2, new { id = "cover-option-2rb" })
            </div>
            <div id="cover-option-3" class="cover-option option-menu">
                @Html.RadioButton("cover-option", 3, new { id = "cover-option-3rb" })
            </div>
        </div>
    </div>
    <div>
        <div class="section-menu-name">
            <p>Glaseado</p>
        </div>
        <div class="option-row">
            <div id="glass-option-1" class="glazed-option option-menu">
                @Html.RadioButton("glass-option", 4, new { id = "glass-option-1rb" })
            </div>
            <div id="glass-option-2" class="glazed-option option-menu">
                @Html.RadioButton("glass-option", 5, new { id = "glass-option-2rb" })
            </div>
            <div id="glass-option-3" class="glazed-option option-menu">
                @Html.RadioButton("glass-option", 6, new { id = "glass-option-3rb" })
            </div>
        </div>
    </div>
    <div>
        <div class="section-menu-name">
            <p>Relleno</p>
        </div>
        <div class="option-row">
            <div id="fill-option-1" class="filling-option option-menu">
                @Html.RadioButton("fill-option", 7, new { id = "fill-option-1rb" })
            </div>
            <div id="fill-option-2" class="filling-option option-menu">
                @Html.RadioButton("fill-option", 8, new { id = "fill-option-2rb" })
            </div>
            <div id="fill-option-3" class="filling-option option-menu">
                @Html.RadioButton("fill-option", 9, new { id = "fill-option-3rb" })
            </div>
        </div>
    </div>
</div>